include ./portfolio_details_mixin.pug
-
    var title= "Doob Landing Page"
    var category= "landing page"
    var client= "Null"
    var date= "march 2021"
    var url= "https://lamani79.github.io/Doob_template/"
    var tech= "HTML / SCSS (sass) / JavaScript"
    var description= ""
    var img_list_url= [
        '../assets/img/portfolio/doob-2.webp',
        '../assets/img/portfolio/doob-3.webp',
        '../assets/img/portfolio/doob-1.webp',



   
    ]

+portfolio_details_page(title,category,client,date,url,tech,description,img_list_url)