include ./portfolio_details_mixin.pug
-
    var title= "PWA Pomodoro Vue App"
    var category= "web app"
    var client= "Null"
    var date= "autumn 2021"
    var url= "https://happy-sinoussi-447aef.netlify.app"
    var tech= "Vue_3 / CSS / PWA"
    var description= ""
    var img_list_url= [
        '../assets/img/portfolio/pomodoro_vue_app-1.png',
        '../assets/img/portfolio/pomodoro_vue_app-2.png',


   
    ]

+portfolio_details_page(title,category,client,date,url,tech,description,img_list_url)