include ./portfolio_details_mixin.pug
-
    var title= "To_Do List chrom extention"
    var category= "chrom extention"
    var client= "Null"
    var date= "April 2021"
    var url= "https://github.com/lamani79/to_do_list_chrom_widget/archive/refs/heads/main.zip"
    var tech= "HTML / Sass (scss) / Vanila JavvaScript"
    var description= ""
    var img_list_url= [
        '../assets/img/portfolio/to_do_chrom_1.png',
        '../assets/img/portfolio/gif.gif',
        'https://pbs.twimg.com/media/DKQL2myXcAAN4U3.jpg',


   
    ]

+portfolio_details_page(title,category,client,date,url,tech,description,img_list_url)