include ./portfolio_details_mixin.pug
-
    var title= "Jadoo Travel Agency"
    var category= "landing page"
    var client= "yasser"
    var date= "summer 2021"
    var url= "https://agitated-euler-c9575e.netlify.app"
    var tech= "html/css/js/tailwindcss v2"
    var description= "Travel, enjoy and live a new and full life Built Wicket longer admire do barton vanity itself do in it. Preferred to sportsmen it engrossed listening. Park gate sell they west hard for the."
    var img_list_url= [
        '../assets/img/portfolio/travell_tailwind.png',
        '../assets/img/portfolio/travell_tailwind-1.png',
        '../assets/img/portfolio/travell_tailwind-2.png',
        '../assets/img/portfolio/travell_tailwind-3.png',


   
    ]

+portfolio_details_page(title,category,client,date,url,tech,description,img_list_url)