include ./portfolio_details_mixin.pug
-
    var title= "Type Blog Template"
    var category= "template"
    var client= "Null"
    var date= "may 2021"
    var url= "https://lamani79.github.io/Doob_template/"
    var tech= "HTML / SCSS/ JavaScript"
    var description= ""
    var img_list_url= [
        '../assets/img/portfolio/type-1.png',
        '../assets/img/portfolio/type-2.png',
        '../assets/img/portfolio/type-3.png',



   
    ]

+portfolio_details_page(title,category,client,date,url,tech,description,img_list_url)